# Telegram Bot
aiogram==3.0.0b6

# Database
sqlalchemy[asyncio]==2.0.6
asyncpg==0.27.0

# Redis (FSM storage, throttling)
redis==4.5.4

# HTTP & File I/O
aiohttp==3.8.4
aiofiles==22.1.0

# Scheduler
apscheduler==3.10.1

environs==9.5.0
marshmallow>=3.13,<4
